@page "/planet/{planetId}"

@inject IPlanetsService PlanetsService
@attribute [StreamRendering]


@if(Planet == null) {
    <StarWarsLoader Text="Carregando..." />
}
else {
    <section>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">🏚</a></li>
                <li class="breadcrumb-item"><a href="/planet">Naves Espaciais</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Planet.Name</li>
            </ol>
        </nav>
    </section>

    <section class="team-single">
        <div class="row">

            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h1 class="font-size38 sm-font-size32 xs-font-size30">@Planet.Name</h1>

                    <h5 class="font-size24 sm-font-size22 xs-font-size20 mb-2">Detalhes</h5>
                    <div class="contact-info-section margin-40px-tb mt-4">
                        <ul class="list-style9 no-margin">
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-graduation-cap text-orange"></i>
                                        <strong class="margin-10px-left text-orange">Planeta:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Name</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="far fa-gem text-yellow"></i>
                                        <strong class="margin-10px-left text-yellow">Clima:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Climate</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="far fa-file text-lightred"></i>
                                        <strong class="margin-10px-left text-lightred">Diaetro:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Diameter</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Comprimento:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Length</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Velocidade Máxima:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.MaxSpeed</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Tripulação:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Crew</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Passageiros:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Passengers</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Capacidade de Carga:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.CargoCapacity</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Classificação do Hiperdrive:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.HyperdriveRating</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">MGLT:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Mglt</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Consumíveis:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Consumables</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Classe:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Class</p>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                <div class="team-single-img">
                    <img style="max-width: 315px; width: 100%;" src="@Starship.ImgUrl" alt="@Starship.Name">
                </div>
                @* <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
            <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">Class Teacher</h4>
            <p class="sm-width-95 sm-margin-auto">We are proud of child student. We teaching great activities and best program for your kids.</p>
            <div class="margin-20px-top team-single-icons">
            <ul class="no-margin">
            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
            </ul>
            </div>
            </div> *@
            </div>

        </div>
    </section>






    <div>
        <div>
            <div>
                <div>Clima:</div>
                <div></div>
                <hr/>
                <div>Diâmetro:</div>
                <div>@Planet.Diameter</div>
                <hr/>
                <div>Período Rotação:</div>
                <div>@Planet.RotationPeriod</div>
                <hr/>
                <div>Período Orbital:</div>
                <div>@Planet.OrbitalPeriod</div>
                <hr/>
                <div>Gravidade:</div>
                <div>@Planet.Gravity</div>
                <hr/>
                <div>Terreno:</div>
                <div>@Planet.Terrain</div>
                <hr/>
                <div>Superfície de água:</div>
                <div>@Planet.SurfaceWater</div>
                <hr/>
                <div>População:</div>
                <div>@Planet.Population</div>
                <hr/>
                <div>Personagens:</div>
                @foreach (var plan in @Planet.Characters)
                {
                    <div> @plan.Name </div>
                }
                <hr>
                <div>Filmes:</div>
                @foreach (var movi in @Planet.Movies)
                {
                    <div> @movi.Title </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string planetId { get; set; } = null!;

    private Planet? Planet = null;

    protected override async Task OnInitializedAsync() {

        Planet = await PlanetsService.GetPlanetAsync(planetId);
    }
}    
