@page "/planets/{planetId}"

@inject IPlanetsService PlanetsService
@attribute [StreamRendering]


@if(Planet == null) {
    <StarWarsLoader Text="Carregando..." />
}
else {
    <section>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">🏚</a></li>
                <li class="breadcrumb-item"><a href="/planets">Planetas</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Planet.Name</li>
            </ol>
        </nav>
    </section>

    <section class="team-single">
        <div class="row">

            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h1 class="font-size38 sm-font-size32 xs-font-size30">@Planet.Name</h1>

                    <h5 class="font-size24 sm-font-size22 xs-font-size20 mb-2">Detalhes</h5>
                    <div class="contact-info-section margin-40px-tb mt-4">
                        <ul class="list-style9 no-margin">
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-graduation-cap text-orange"></i>
                                        <strong class="margin-10px-left text-orange">Planeta:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Name</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="far fa-gem text-yellow"></i>
                                        <strong class="margin-10px-left text-yellow">Clima:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Climate</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="far fa-file text-lightred"></i>
                                        <strong class="margin-10px-left text-lightred">Diaetro:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Diameter</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Período Rotação:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.RotationPeriod</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Período Orbital:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.OrbitalPeriod</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Gravidade:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Gravity</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Terreno:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Terrain</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Superfície de água:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.SurfaceWater</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">População:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Planet.Population</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Personagens:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        @foreach (var plan in @Planet.Characters)
                                        {
                                            <p> @plan.Name </p>
                                        }
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Filmes:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        @foreach (var movi in @Planet.Movies)
                                        {
                                            <p> @movi.Title </p>
                                        }
                                    </div>
                                </div>

                            </li>
                          
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                <div class="team-single-img">
                    <img style="max-width: 315px; width: 100%;" src="@Planet.ImgUrl" alt="@Planet.Name">
                </div>
            </div>

        </div>
    </section>
}

@code {
    [Parameter]
    public string planetId { get; set; } = null!;

    private Planet? Planet = null;

    protected override async Task OnInitializedAsync() {

        Planet = await PlanetsService.GetPlanetAsync(planetId);
    }
}    
