@page "/starships/{starshipId}"


@inject IStarshipsService StarShipsService
@attribute [StreamRendering]

@if(Starship == null) {
    <StarWarsLoader Text="Carregando..." />
}
else {
    <section>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">🏚</a></li>
                <li class="breadcrumb-item"><a href="/starships">Naves Espaciais</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Starship.Name</li>
            </ol>
        </nav>
    </section>
    <section class="team-single">
        <div class="row">

            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h1 class="font-size38 sm-font-size32 xs-font-size30">@Starship.Name</h1>
                    @* <p class="no-margin-bottom">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum voluptatem.</p> *@
                    
                    <h5 class="font-size24 sm-font-size22 xs-font-size20 mb-2">Detalhes</h5>
                    <div class="contact-info-section margin-40px-tb mt-4">
                        <ul class="list-style9 no-margin">
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-graduation-cap text-orange"></i>
                                        <strong class="margin-10px-left text-orange">Modelo:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Model</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="far fa-gem text-yellow"></i>
                                        <strong class="margin-10px-left text-yellow">Fabricante:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Manufacturer</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="far fa-file text-lightred"></i>
                                        <strong class="margin-10px-left text-lightred">Custo (Em créditos):</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.CostInCredits</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Comprimento:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Length</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Velocidade Máxima:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.MaxSpeed</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Tripulação:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Crew</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Passageiros:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Passengers</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Capacidade de Carga:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.CargoCapacity</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Classificação do Hiperdrive:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.HyperdriveRating</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">MGLT:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Mglt</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Consumíveis:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Consumables</p>
                                    </div>
                                </div>

                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Classe:</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Starship.Class</p>
                                    </div>
                                </div>

                            </li>
                            
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                <div class="team-single-img">
                    <img style="max-width: 315px; width: 100%;" src="@Starship.ImgUrl" alt="@Starship.Name">
                </div>
                @* <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                    <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">Class Teacher</h4>
                    <p class="sm-width-95 sm-margin-auto">We are proud of child student. We teaching great activities and best program for your kids.</p>
                    <div class="margin-20px-top team-single-icons">
                        <ul class="no-margin">
                            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div> *@
            </div>

        </div>
    </section>
    <section id="movies">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">

                    <h5 class="font-size24 sm-font-size22 xs-font-size20 mb-2">Filmes que Participou</h5>
                    <div class="contact-info-section margin-40px-tb mt-4">
                        <ul class="list-style9 no-margin">

                            @foreach(MovieResume movie in @Starship.Movies) {
                                <li>

                                <a href="/movies/@movie.Id"><span>@movie.Title</span></a>

                            </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
}

@code {
    [Parameter]
    public string starshipId {get; set;} = null!;

    private Starship? Starship = null;

    protected override async Task OnInitializedAsync() {

       Starship = await StarShipsService.GetStarshipAsync(starshipId);
    }
}    
